<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Konto administratora</title>
</head>
<body>
<nav>
    <h1>wycieczka</h1>
    <div>
        <label>startowy kontynent</label>
        <select name="startContinent">
            <option value="value1">kontynent1</option>
            <option value="value2">kontynent2</option>
            <option value="value3">kontynent3</option>
            <option value="value4">kontynent4</option>
            <option value="value5">kontynent5</option>
            <option value="value5">kontynent6</option>
        </select>
    </div>
    <div>
    <label>docelowy kontynent</label>
        <select name="startContinent">
            <option value="value1">kontynent1</option>
            <option value="value2">kontynent2</option>
            <option value="value3">kontynent3</option>
            <option value="value4">kontynent4</option>
            <option value="value5">kontynent5</option>
            <option value="value5">kontynent6</option>
    </select>
    </div>
    <div>
        <label for="startCountry">startowy kraj</label>
        <input type="text" name="startCountry" id="startCountry" />
    </div>
    <div>
        <label for="EndCountry">docelowy kraj</label>
        <input type="text" name="EndCountry" id="EndCountry" />
    </div>
    <div>
        <label for="startCity">startowe miasto</label>
        <input type="text" name="startCity" id="startCity" />
    </div>
    <div>
        <label for="endCity">docelowe miasto</label>
        <input type="text" name="endCity" id="endCity" />
    </div>
    <div>
        <label for="airport">wylot z lotniska</label>
        <input type="text" name="airport" id="airport" />
    </div>
    <div>
        <label for="hotel">do hotelu</label>
        <input type="text" name="hotel" id="hotel" />
    </div>
    <div>
        <label for="startDate">data podrózy</label>
        <input type="text" name="startDate" id="startDate" />
    </div>
    <div>
        <label for="endDate">data powrotu</label>
        <input type="text" name="endDate" id="endDate" />
    </div>
    <div>
        <label for="days">liczba dni wycieczki</label>
        <input type="text" name="days" id="days" />
    </div>
    <div>
    <label>typ podróży</label>
        <select name="travelType">
            <option value="value1">typ podróży 1</option>
            <option value="value2">typ podróży 2</option>
            <option value="value3">typ podróży 3</option>
            <option value="value4">typ podróży 4</option>
            <option value="value1">typ podróży 5</option>
            <option value="value2">typ podróży 6</option>
            <option value="value3">typ podróży 7</option>
            <option value="value4">typ podróży 8</option>
    </select>
    </div>
    <div>
        <label for="priceForAnAdult">cena za osobę dorosłą</label>
        <input type="text" name="priceForAnAdult" id="priceForAnAdult" />
    </div>
    <div>
        <label for="priceForAChild">cena za dziecko</label>
        <input type="text" name="priceForAChild" id="priceForAChild" />
    </div>
    <div>
        <label for="promoted">promocja</label>
        <input type="text" name="promoted" id="promoted" />
    </div>
    <div>
        <button type="submit">Wyślij dane</button>
    </div>
</nav>
<nav>
    <h1>Kraje</h1>
    <label>kontynent</label>
    <select name="Continent">
        <option value="value1">kontynent1</option>
        <option value="value2">kontynent2</option>
        <option value="value3">kontynent3</option>
        <option value="value4">kontynent4</option>
        <option value="value5">kontynent5</option>
        <option value="value5">kontynent6</option>
    </select>
    <div>
        <label for="countryName">nazwa</label>
        <input type="text" name="countryName" id="countryName" />
    </div>
    <div>
        <button type="submit">Wyślij dane</button>
    </div>
</nav>
<nav>
    <h1>Miasta</h1>
    <label>Kraje</label>
    <select name="Continent">
        <option value="value1">Kraj1</option>
        <option value="value2">Kraj2</option>
        <option value="value3">Kraj3</option>
    </select>
    <div>
        <label for="cityName">nazwa miasta</label>
        <input type="text" name="cityName" id="cityName" />
    </div>
    <div>
        <button type="submit">Wyślij dane</button>
    </div>
</nav>
<nav>
    <h1>Lotniska</h1>
    <label>Kraje</label>
    <select name="Continent">
        <option value="value1">Kraj1</option>
        <option value="value2">Kraj2</option>
        <option value="value3">Kraj3</option>
    </select>
    <div>
        <label for="airportName">nazwa lotniska</label>
        <input type="text" name="airportName" id="airportName" />
    </div>
    <div>
        <button type="submit">Wyślij dane</button>
    </div>
</nav>
<nav>
    <h1>Hotele</h1>
    <label>Miasta</label>
    <select name="Continent">
        <option value="value1">Miasto1</option>
        <option value="value2">Miasto2</option>
        <option value="value3">Miasto3</option>
    </select>
    <div>
        <label for="hotelName">nazwa hotelu</label>
        <input type="text" name="hotelName" id="hotelName" />
    </div>
    <div>
        <button type="submit">Wyślij dane</button>
    </div>
</nav>
</body>
</html>