<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<h2>Biuro Podróży</h2>
<h3>prezentacja promowanych wycieczek</h3>
<ul>
    <table>
        <tr>
            <th>kolejność</th>
            <th>startPlaces</th>
            <th>endPlaces</th>
            <th>dateOut</th>
            <th>dateIn</th>
            <th>Continent</th>
            <th>Country</th>
            <th>City</th>
            <th>Hotel</th>
        </tr>
        <tr>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
        </tr>
        <tr>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
        </tr>
        <tr>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
        </tr>
    </table>
</ul>
<h3>prezentacja zbliżających się wycieczek (globalnie)</h3>
<ul>
    <table>
        <tr>
            <th>kolejność</th>
            <th>startPlaces</th>
            <th>endPlaces</th>
            <th>dateOut</th>
            <th>dateIn</th>
            <th>Continent</th>
            <th>Country</th>
            <th>City</th>
            <th>Hotel</th>
        </tr>
        <tr>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
        </tr>
        <tr>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
        </tr>
        <tr>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
        </tr>
    </table>
</ul>
<h3>prezentacja zbliżających się wycieczek (z podziałem na kontynenty)</h3>
<ul>
    <table>
        <tr>
            <th>kolejność</th>
            <th>startPlaces</th>
            <th>endPlaces</th>
            <th>dateOut</th>
            <th>dateIn</th>
            <th>Continent</th>
            <th>Country</th>
            <th>City</th>
            <th>Hotel</th>
        </tr>
        <tr>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
        </tr>
        <tr>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
        </tr>
        <tr>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
        </tr>
    </table>
</ul>
<h3>prezentacja zbliżających się wycieczek (z podziałem na kraje)</h3>
<ul>
    <table>
        <tr>
            <th>kolejność</th>
            <th>startPlaces</th>
            <th>endPlaces</th>
            <th>dateOut</th>
            <th>dateIn</th>
            <th>Continent</th>
            <th>Country</th>
            <th>City</th>
            <th>Hotel</th>
        </tr>
        <tr>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
        </tr>
        <tr>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
        </tr>
        <tr>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
        </tr>
    </table>
</ul>
<h3>prezentacja ostatnio zakupionych wycieczek</h3>
<ul>
    <table>
        <tr>
            <th>kolejność</th>
            <th>startPlaces</th>
            <th>endPlaces</th>
            <th>dateOut</th>
            <th>dateIn</th>
            <th>Continent</th>
            <th>Country</th>
            <th>City</th>
            <th>Hotel</th>
        </tr>
        <tr>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
            <td>wycieczka 1</td>
        </tr>
        <tr>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
            <td>wycieczka 2</td>
        </tr>
        <tr>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
            <td>wycieczka 3</td>
        </tr>
    </table>
</ul>
<h3>każda z poniższych list powinna prezentować np. po 3 wpisy</h3>
<p>+ link zobacz więcej kierujący
    na wyniki wyszukiwania wg zadanego kryterium, np. klikając w link Teneryfa powinno nas
    przekierować na stronę z wynikami wyszukiwania wycieczek na Teneryfę</p>
<h3>kontynent, kraj, miasto, hotel powinne być klikalne i prowadzić na wyniki wyszukiwania</h3>
<h3>po kliknięciu w konkretną wycieczkę prezentowane są szczegółowe dane</h3>
<h3>(opcjonalnie) pod wycieczką prezentujemy wycieczki w to samo miejsce, ale z późniejszą
    datą</h3>
<h3>(opcjonalnie) pod wycieczką prezentujemy wycieczki do innych hoteli z tego miasta</h3>
<h3> (opcjonalnie) pod wycieczką prezentujemy wycieczki do innych miast z tego kraju</h3>
<footer>Projekt kako80 2022</footer>
</body>
</html>