<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Koszyk zakupów</title>
</head>
<body>
<h3>po wyborze konkretnej wycieczki, można ją zakupić</h3>
<h3>należy podać ilość dorosłych oraz dzieci</h3>
<h3>jeśli będzie odpowiednia ilość wolnych miejsc, wycieczka zostanie „zakupiona”</h3>
<h3>ilość wolnych miejsc zostanie pomniejszona</h3>
<h3>kwota za wycieczkę zostanie wyliczona (na podstawie ilości osób)</h3>
<h3>na stronie/stronach administracyjnych prezentowane są zakupione wycieczki</h3>
</body>
</html>