<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wyszukiwanie wycieczek</title>
</head>
<body>
<h3>wszystkie klikalne elementy (kontynenty, kraje, miasta, hotele kierują na stronę z wynikami
    wyszukiwania</h3>
<h3>dodatkowo strona posiada formularz umożliwiający filtrowanie i sortowanie wyników</h3>
<h3> można wyszukiwać wycieczki po (np.):</h3>
<nav>
    <ul>mieście (Lotnisku) wylotu</ul>
    <ul>mieście (Hotelu) pobytu</ul>
    <ul>dacie wyjazdu (opcjonalnie zakresie)</ul>
    <ul>dacie powrotu (opcjonalnie zakresie)</ul>
    <ul>typie (BB, HB, FB, AI)</ul>
    <ul>standardzie hotelu</ul>
    <ul>ilości dni</ul>
</nav>
<h3>sortować można po (np.):</h3>
<nav>
    <ul>cenie</ul>
    <ul>dacie wylotu</ul>
</nav>
</body>
</html>